.song-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.left{
  display: flex;
  align-items: center;
}
.song-header{
  font-size:medium;
  font-weight: 500;
}

.mat-icon.verify-song-button{
  color: #616161!important;
}
